@import 'settings.scss';
@import "foundation";
@include foundation-everything;

table {
    a.button {
        margin-bottom: 0;
    }
}

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
}

.top-bar {
    color: $tertiary-color;

    margin-bottom: 4em;
    border-bottom: 3px solid $secondary-color;

    .menu-text.title {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 2em;
        font-weight: 400;

        a {
            color: inherit;
            padding: 0;
        }
    }

    .logo {
        height: 40px;
        margin-right: 10px;
    }

    .menu a {
        &:hover {
            color: $tertiary-color;
        }

        color: $secondary-color;
    }
}

tooltip {
    white-space: nowrap;
}

.author, .downvote, .upvote {
    cursor: help;
}

table {

    & > tbody {
        border: none;

        .badge {
            font-size: 11px;
        }
    }

    & > thead {
        border: none;

         th {
            text-transform: uppercase;
            font-weight: 400;
            border-bottom: 2px solid smart-scale($table-background, $table-color-scale)
        }
    }
}

.author {
    @extend .thumbnail;
}
