<table class="twelve columns">
  <thead>
    <tr>
      <th>Last update</th>
      <th>Projet</th>
      <th>Title</th>
      <th>Author</th>
      <th ng-if="vm.displayBranchColumn">Branch</th>
      <th ng-if="vm.displayLabelsColumn">Labels</th>
      <th ng-bind-html="':+1:'|emojify"></th>
      <th ng-bind-html="':-1:'|emojify"></th>
      <th class="text-center">Have I voted?</th>
      <th class="text-center">CI</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="mergeRequest in vm.mergeRequests">
      <td><time tooltips tooltip-template="{{ mergeRequest.lastActivity | date: 'short' }}" tooltip-size="small" tooltip-smart="true" am-time-ago="mergeRequest.lastActivity"></time></td>
      <td><a href="{{ mergeRequest.project.web_url }}" target="_blank">{{ mergeRequest.project.name }}</a></td>
      <td><a href="{{ mergeRequest.web_url }}" target="_blank" ng-bind-html="mergeRequest.title|emojify"></a></td>
      <td class="text-center">
          <span tooltips tooltip-template="{{ mergeRequest.author.name }}" tooltip-size="small">
              <img class="author" ng-src="{{ mergeRequest.author.avatar_url }}" width="35px" alt="{{ mergeRequest.author.name }}"></img>
          </span>
      </td>
      <td ng-if="vm.displayBranchColumn">{{ mergeRequest.source_branch }} &#8680; {{ mergeRequest.target_branch }}</td>
      <td ng-if="vm.displayLabelsColumn">
        <ul class="menu simple">
          <li ng-repeat="label in mergeRequest.labels">
            <span style="background-color: {{ label.color }}" class="label tiny" tooltips tooltip-template="{{ label.description }}" tooltip-size="small">{{ label.name }}</span>
          </li>
        </ul>
      </td>
      <td class="text-center">
          <span tooltips tooltip-template="{{ mergeRequest.upvoters.join(', ') }}" tooltip-size="small" tooltip-hidden="{{ mergeRequest.upvoters.length == 0 }}">
              <span ng-class="{'success': mergeRequest.upvotes > 0, 'alert': mergeRequest.upvotes == 0}" class="upvote badge">
                  {{ mergeRequest.upvotes }}
              </span>
          </span>
      </td>
      <td class="text-center">
          <span tooltips tooltip-template="{{ mergeRequest.downvoters.join(', ') }}" tooltip-size="small" tooltip-hidden="{{ mergeRequest.downvoters.length == 0 }}">
              <span ng-class="{'success': mergeRequest.downvotes == 0, 'alert': mergeRequest.downvotes > 0}" class="downvote badge">
                  {{ mergeRequest.downvotes }}
              </span>
          </span>
      </td>
      <td class="text-center">
        <span ng-if="mergeRequest.i_have_voted === 0">-</span>
        <span ng-if="mergeRequest.i_have_voted === 1" ng-bind-html="':+1:'|emojify"></span>
        <span ng-if="mergeRequest.i_have_voted === -1" ng-bind-html="':-1:'|emojify"></span>
      </td>
      <td class="text-center">
        <a href="{{ mergeRequest.ci.url }}" target="_blank" ng-if="mergeRequest.ci.status" ng-class="{'success': mergeRequest.ci.status == 'success', 'alert': mergeRequest.ci.status == 'failed'}" class="button tiny">{{ mergeRequest.ci.status }}</a>
      </td>
    </tr>
    <tr ng-show="!(vm.mergeRequests | length) > 0">
      <td colspan="8" class="text-center">
        No merge request in progress, go back to work!
      </td>
    </tr>
  </tbody>
</table>
