<!doctype html>
<html  ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Merge Requests CI {{ titleAddon }}</title>
  <link rel="shortcut icon" type="image/png" href="favicon.ico" />
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <div class="top-bar">
      <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
              <li class="menu-text title">
                  <a href="#/"><img class="logo" src="logo.png" /> Merge Requests CI</a>
              </li>
          </ul>
      </div>
      <div class="top-bar-right">
          <ul class="menu">
              <li><a href="#/settings">Settings</a></li>
          </ul>
      </div>
    </div>
  </div>

  <div class="row" ng-view>

  </div>

  <script src="vendor.js"></script>
  <script src="app.js"></script>
</body>
</html>
