<div class="columns">
  <h1>Settings</h1>

  <p ng-show="vm.error">
    Authentication failed: please verify your url and private token
  </p>

  <form novalidate>
    <label>GitLab url
      <input type='url' ng-model="vm.config.url" placeholder="https://gitlab.com"/>
    </label>
    <label>Private token
      <input type='text' ng-model="vm.config.private_token" placeholder="" />
    </label>
    <p class="help-text">
      Token to authenticate you against GitLab.
      <span ng-show="vm.config.url"><br /><a href="{{ vm.config.url }}/profile/account" target="_blank">Click here</a> to get your private token.</span>
    </p>
    <label>Refresh rate (minutes)
      <input type='text' ng-model="vm.config.refresh_rate" />
    </label>

    <label>Display the "Branch" column
      <input type='radio' ng-model="vm.config.display_branch_column" ng-value="true" />
      Yes
      <input type="radio" ng-model="vm.config.display_branch_column" ng-value="false" >
      No
    </label>

    <label>Display the "Labels" column
      <input type='radio' ng-model="vm.config.display_labels_column" ng-value="true" />
      Yes
      <input type="radio" ng-model="vm.config.display_labels_column" ng-value="false" >
      No
    </label>

    <input type="submit" class="button expand" ng-click="vm.save(vm.config)" value="Save"/>
  </form>
</div>
